abbr {
    border: none;
    text-decoration: none;
}

header {
    text-align: center;
    background: rgb(97, 197, 255);
    color: white;
    font-family: "Times";
    margin: 0;
}

header > h1 {
    padding: 20px 10px 2px 10px;
    font-size: 96px;
    letter-spacing: 8px;
    font-stretch: expanded;
    margin: 0;
}

header > h3 {
    padding: 0px 10px 30px 10px;
    font-size: 24px;
    font-style: italic;
    margin: 0;
}

body h5 {
    font-size: 18px;
    font-family: "Times";
}

a {
    color: whitesmoke;
}

.navbar{
    text-align: center;
    font-family: "Times";
    font-size: 20px;
    margin: 0;
    padding-bottom: 7px;
    padding-top: 7px;
}

.divider {
    padding-top: 1px;
}

.navbar.second {
    padding-top: 11px;
}

.navbar a {
    color: rgb(133, 210, 255);
    border: none;
    text-decoration: none;
}

.navbar a:hover {
    color: white;
    font-size: 19.5px;
}

footer {
    padding: 20px 10px 10px 10px;
    text-align: center;
    color: gray;
    font-style: italic;
    font-size: 12px;
    font-family: "Times";
}