abbr {
    border: none;
    text-decoration: none;
}

a {
    color: whitesmoke;
}

header {
    text-align: center;
    background: rgb(97, 197, 255);
    color: white;
    font-family: "Times";
    margin-left: -20px;
    padding: 0;
    width: 108%;
}

header.main{
    height: 190px;
}

header.sub{
    height: 116px;
}

header > h1 {
    padding: 20px 10px 2px 10px;
    font-size: 96px;
    letter-spacing: 8px;
    font-stretch: expanded;
    margin: 0;
}

header > h3 {
    padding: 0px 10px 30px 10px;
    font-size: 24px;
    font-style: italic;
    margin: 0;
}

header h2 {
    padding: 20px 10px 2px 10px;
    font-size: 48px;
    letter-spacing: 8px;
    font-stretch: expanded;
    margin: 0;
}

header h4 {
    padding: 0px 10px 30px 10px;
    font-size: 14px;
    font-style: italic;
    margin: 0;
}

body {
    background-color: rgb(38, 114, 161);
}

body h5 {
    font-size: 18px;
    font-family: "Times";
}

body h5 a:hover{
    text-decoration: none;
    color: whitesmoke;
}

body iframe {
    margin-top: 30px;
    padding: 20px 5% 50px 5%;
}

.navbar{
    text-align: center;
    font-family: "Times";
    font-size: 20px;
    margin: 0;
    padding-bottom: 7px;
    padding-top: 7px;
}

.divider {
    padding-top: 1px;
}

.navbar.first{
    padding-top: 40px;
}

.navbar.second {
    padding-top: 11px;
}

.navbar a {
    color: rgb(133, 210, 255);
    border: none;
    text-decoration: none;
}

.navbar a:hover {
    color: white;
    font-size: 19.5px;
}

footer {
    padding: 20px 10px 10px 10px;
    text-align: center;
    color: rgb(189, 189, 189);
    font-style: italic;
    font-size: 12px;
    font-family: "Times";
}